    <div class= "container" id="portada">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                     <div class="card-block">
                        <img class="imagen-fluid"  id="imagen_portada" src="https://img.search.brave.com/5BhKDKOqKGM2zp5RsSpEueyJpXXcU7JvWI7ILdvGXQY/fit/1200/1200/ce/1/aHR0cHM6Ly9kaW1l/bnNpb25lc2NsdWIu/ZXMvd3AtY29udGVu/dC91cGxvYWRzLzIw/MTUvMDcvQVJHRU5U/SU5BLUJBUklMT0NI/RS1WSUFKRVMuanBn" alt="portada" />
                        <button class="editar" id="editar_portada"><i class="fas fa-pencil-alt" id="editar"></i></button>
                        <div class="row">
                            <div class="col-sm-10">
                               <h3 id="nombre_apellido">nombre y apellido</h3>
                            </div>
                            <div class="texto">
                               <p class="titprofesional">titulo que se ejerce</p>
                               <p class="lugar">lugar donde se esta actualmente</p>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="botones">
                                       <button id="ventana_emergente">Tengo interés en</button>
                                       <button id="aniadir_seccion">Añadir sección</button>
                                       <button id="mas">Más</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>